@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

:root {
  /* Font - 400i, 700, 800i */
  --font: "Poppins", sans-serif;

  /* Primary Colors */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}

/* =========================== Main Container =========================== */

.main-container {
  width: 50rem;
  min-height: 35rem;
  background-color: var(--white);
  padding: 3rem;
  border-radius: 1.5rem 1.5rem 14rem 1.5rem;
}

/* =========================== Form =========================== */

#form {
  height: 12rem;
}

.inputs {
  display: flex;
  width: 40rem;
  border-bottom: 0.1rem solid var(--light-grey);
  padding-bottom: 2.5rem;
}

.units label {
  color: var(--smokey-grey);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  letter-spacing: 0.2rem;
}

input {
  width: 10rem;
  height: 4rem;
  margin: 0 3.1rem 0.5rem 0;
  padding-left: 1rem;
  font-size: 2rem;
  color: var(--smokey-grey);
  outline: none;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--light-grey);
}

input:focus {
  border: 0.13rem solid var(--purple);
  color: var(--off-black);
}

small {
  color: var(--light-red);
  padding-left: 0.2rem;
}

.subBtn {
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
  background-color: var(--purple);
  cursor: pointer;
  transform: translate(38rem, -2.7rem);
  transition: 0.1s;
}

.subBtn:hover {
  background-color: var(--off-black);
}

.subBtn img {
  width: 3.2rem;
  height: 2.5rem;
}

/* =========================== Results =========================== */

.results p {
  font-size: 5.9rem;
  font-style: italic;
  font-weight: 800;
  line-height: 6rem;
}

.results span {
  color: var(--purple);
}

.attribution {
  margin-top: 3rem;
}

/* =========================== Media Queries =========================== */

@media screen and (max-width: 768px) {
  /* =========================== Main Container =========================== */
  body {
    width: 23.438rem;
  }

  .main-container {
    width: 21.438rem;
    min-height: 28rem;
    border-radius: 1.5rem 1.5rem 8rem 1.5rem;
    padding: 1.5rem;
  }

  /* =========================== Form =========================== */
  #form {
    height: 10rem;
  }

  .inputs {
    width: 18.5rem;
    min-height: 10.5rem;
  }

  .units {
    width: 7rem;
  }

  input {
    width: 5.6rem;
    height: 3rem;
    margin: 0 0.8rem 0 0;
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  small {
    text-align: center;
    padding-left: 0rem;
  }

  .subBtn {
    transform: translate(7rem, -2rem);
    padding: 1rem;
  }

  .subBtn img {
    width: 2.3rem;
    height: 2rem;
  }

  /* =========================== Results =========================== */
  .results {
    margin-top: 4.5rem;
  }

  .results p {
    font-size: 3rem;
    line-height: 3rem;
  }

  .attribution {
    font-size: 0.8rem;
    text-align: center;
  }
}
